.generalContainer {
  width: 100%;
  height: 100%;
}

.divContainer {
  display:flex;
  justify-content: center;
  align-items: center;

}

img {
  width: 50%;
  /* margin: 20%; */
}

form {
  padding: 3rem;
}

label {
  color: white;
  font-weight: bold;
}

p {
  color: #ed66ff;
}

.logo {
  width: 50%;
  height: auto;
}


.button {
  color: white;
  padding: 0.5rem;
  font-size: 14px;
  font-weight: bold;
  border: none;
  transition: all 0.75s;
  border-radius: 8px;
  margin: 0.5em;
  background: inherit;
  border: 1px solid #ed66ff;
}

.button:hover {
  background: inherit;
  font-size: 14px;
  background: linear-gradient(145deg, #fe6dff, #d55ce6);
  box-shadow: 2px 2px 90px #ce59de, -2px -2px 90px #ff73ff;
}

.button:active {
  box-shadow: 15px 15px 30px #ce59de, -15px -15px 30px #ff73ff;
}

input {
  border: none;
  padding: 0.5em;
  margin: 0.5em;
  border-radius: 0.75em;
  background: #e8e8e8;
  transition: 0.75s;
}

input:focus {
  border: 0.5px solid white;
  outline-color: #ed66ff;
  background: #e8e8e8;
  box-shadow: 2px 2px 30px #303030, -2px -2px 30px #707070;
  transition: 0.75s;
}

input .danger {
  outline-color: red;
}

hr {
  color: white;
  background: #ed66ff;
}